/*------------------ Font Family -------------------*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*----------------- Colors ------------------------*/
$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$dark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);

/*----------------- Font --------------------*/
$regular-font: 15px;
$font-lexend-deca: 'Lexend Deca', sans-serif;
$font-big-shoulder-display: 'Big Shoulders Display', cursive;